@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Work Sans", sans-serif;
    /* color: #333; */
  }

  body {
    background-color: #fff0be;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
  }

  #root {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@theme {
  --color-survey-bg: #fff1d3;
  --color-survey-text: #000;
  --color-survey-border: #ffb090;
  --color-survey-filled: #5d1c6a;
  --color-survey-hover: #ffb399;
  --color-survey-submit: #00a300;
  --color-survey-submit-hover: #00b700;
}
